* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: #ffff; */
    background: linear-gradient(135deg, #192645, #312e81, #2563eb);
    z-index: -1
}

.quiz_body {
    width: 100%;
    max-width: 500px;
    /* background: linear-gradient(135deg, #2c4072, #36338f, #073aa9); */
    background: rgba(255, 255, 255, .12);
    /* backdrop-filter: blur(15px); */
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 25px;
    padding: 35px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .3);
}

.quiz_body h1 {
    text-align: center;
    color: #fff;
    font-size: 36px;
}

.sub_title {
    margin: 20px 0;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
}

.form_group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: aliceblue;
}

select {
    width: 100%;
    padding: 15px;
    border-radius: 12px;
    border: none;
    outline: none;
    background: #fff;
    color: rgb(54, 54, 66);
    font-size: 16px;
    cursor: pointer;
}

.primary_btn {
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    border: none;
    margin-top: 40px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    background: linear-gradient(130deg, rgb(168, 118, 195), rgb(193, 90, 202));
    color: #fff;
    transition: .3s;
    box-shadow: 0 15px 35px rgba(35, 95, 230, .4);
}

.primary_btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 15px 35px rgba(35, 95, 230, .6);
}

.top_bar {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 18px;
}

#timer {
    color: rgb(247, 247, 26)
}

.progress_container {
    height: 12px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    margin: 20px 0;
    overflow: hidden;
}

#progress_bar {
    height: 100%;
    width: 0;
    background: linear-gradient(90deg, #22c55e, #3b82f6);
    transition: 0.4s
}

.answer {
    display: grid;
    gap: 15px;
}

.answer_btn {
    padding: 15px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
    text-align: left;
    font-size: 16px;
    transition: 0.25s
}

.answer_btn:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: translateX(5px);
}

.correct {
    background: rgb(13, 212, 13);
}

.wrong {
    background: rgb(248, 17, 17);
}

.disabled {
    pointer-events: none;
}

.score {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: rgb(237, 210, 3)
}

.message {
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
}

.hidden {
    display: none;
}

h2 {
    text-align: center;
    color: white;
}